### four issue types being recorded
<img width="1528" height="941" alt="Screenshot 2026-10-11 182105" src="https://github.com/user-attachments/assets/1ed06eea-8833-441d-9c13-7e5b2318c1d8" />
<img width="1527" height="927" alt="Screenshot 2026-10-11 182051" src="https://github.com/user-attachments/assets/c46fc7d4-434b-45a6-b503-df5f8e56a372" />
<img width="1526" height="917" alt="Screenshot 2026-10-11 182038" src="https://github.com/user-attachments/assets/04c90139-bf46-4f0a-bd87-4d74be8a1add" />
<img width="1520" height="908" alt="Screenshot 2026-10-11 181944" src="https://github.com/user-attachments/assets/404752b6-9edd-4fed-ae86-5552a63e0a80" />

